* {
	margin: 0;
	font-family: Arial; */
}

.Banner {
	height: 75px;
	color: yellow;
	background-color: #ed7d31;
	text-align: center;
	padding: 50px;
}

header {
	font-size: 65px;
}


.Podbanner {
	height: 60px;	
	background-color: #f4b183;
}

.main {
	height: 275px;
	background-color: white;

}

.Przycisk {
	width: 75px;
	height: 37px;
	margin-left: 80px;
	position: absolute;
	top: 185px;
	background-color: #cf4d04;
	text-align: center;
	
}
.Przycisk:hover{
    border: 6px solid yellow;
    border-radius: 4px;
	margin-left: 80px;
	color: white;
}

a {
	text-decoration: none;
	color: white;
	
}




footer {
	clear: both;
	background-color: #f4b183; 
	height: 49px;
	font-size: 150%;
	text-align: right;
	padding-top: 15px;
	padding-right: 30px;
}

img {
	margin-left: 733px;
}

